.root {
  height: 120px;
  overflow: hidden;
  background: #725230;
  text-align: center;
}

.holder {
  display: inline-block;
}

.phone {
  display: none;

  @media (--phone-lg) {
    display: block;
  }
}

.other {
  display: block;

  @media (--phone-lg) {
    display: none;
  }
}

.container {
  composes: root from '~/components/container/container.css';
}
