@import '~/config/styles/colors.css';

.root {
    /*height: 120px;*/
    height: 0px;
    overflow: hidden;
    background: #ececec;
}

.container {
  composes: root from '~/components/container/container.css';
}
