.title {
  padding-bottom: 30px;
  text-align: right;
  line-height: 30px;

  @media (--desktop) {
    padding-bottom: 40px;
  }
}

.logo {
   float: left;
   width: 30px;
}

.brand {
   float: left;
   width: 18%;
   height: 33px;
   margin-left: 10px;
}

.row {
  padding-bottom: 20px;
}

.footer {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.error {
  margin: 0;
  line-height: 1.5;
  color: var(--theme-danger);
}
