@import '~/config/styles/colors.css';

.root {
  color: #fff;
  border: 1px solid var(--color-primary);
  background-color: #ffffff;
  color: var(--color-primary);
}

.title {
  font-weight: 600;
  font-size: 16px;
  opacity: .64;
}

.balance {
  font-weight: 600;
  font-size: 24px;
}
