.root {
  border: 1px solid var(--theme-primary);
  background-color: #ffffff;
  color: var(--theme-primary);
}

.title {
  font-weight: 600;
  font-size: 16px;
  opacity: .64;
}

.balance {
  font-weight: 600;
  font-size: 24px;
}
