@import '~/components/spoiler/spoiler-config.css';

.title {
  padding-left: var(--spoiler-horizontal-padding-mobile);
  padding-right: var(--spoiler-horizontal-padding-mobile);
  padding-top: 10px;
  padding-bottom: 15px;

  @media (--desktop) {
    padding-left: var(--spoiler-horizontal-padding);
    padding-right: var(--spoiler-horizontal-padding);
    padding-top: 15px;
    padding-bottom: 25px;
  }
}

.list {
  padding-bottom: 20px;
}

.container {
  padding-right: var(--spoiler-horizontal-padding-mobile);


  @media (--desktop) {
    padding-right: var(--spoiler-horizontal-padding);
  }
}

.license {
    display: inline-block;
    position: relative;
}

.title {
}

.pic {
}


.preview {
  margin-left: var(--spoiler-horizontal-margin-mobile);
  margin-bottom: 20px;
  width: 190px;

  @media (--desktop) {
    margin-left: var(--spoiler-horizontal-margin);
  }
}
