html,
body {
  box-sizing: border-box;
  height: 100%;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.75;
  background-color: var(--theme-page-bg);
  color: var(--theme-text);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

div[class^="page-root-"] {
    background: #ffda94;
    background: -webkit-linear-gradient(#fff1d7,#ffda94);
    background: -o-linear-gradient(#fff1d7,#ffda94);
    background: -moz-linear-gradient(#fff1d7,#ffda94);
    background: linear-gradient(#fff1d7,#ffda94);
}